<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>MAIN PAGE VIEWWWWWW!</h1>
  <div>
    <h2>Menu</h2>
    <% for (let dish of restaurant) { %>
      <div>
        <%= dish.dish_name %>
          <%= dish.price %>
            <%= dish.description %>
      </div>
      <% } %>

  </div>
  <div>
    <h2>Restaurant Info</h2>
    <h5><%= restaurant[0].name %></h5>
    <h5><%= restaurant[0].phone_number %></h5>
    <h5><%= restaurant[0].address %></h5>
    <h5><%= restaurant[0].rating %></h5>
  </div>

</body>

</html>
