<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script defer src="/scripts/main_page.js"></script>
</head>

<body>
  <h1>MAIN PAGE VIEWWWWWW!</h1>
  <div>
    <h2>Menu</h2>
    <% for (let dish of restaurant) { %>
      <div>
        <%= dish.dish_name %>
        <%= dish.price %>
        <%= dish.description %>
        <%= dish.id %>
      </div>
      <button data-id="<%= dish.id %>" data-name="<%= dish.dish_name %>" data-price="<%= dish.price %>" class="add-cart-btn">Add</button>
      <% } %>

  </div>
  <div>
    <h2>Restaurant Info</h2>
    <h5><%= restaurant[0].name %></h5>
    <h5><%= restaurant[0].phone_number %></h5>
    <h5><%= restaurant[0].address %></h5>
    <h5><%= restaurant[0].rating %></h5>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Carts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">

                <thead>
                  <tr>
                    <th class="text-center py-3">Dish Name</th>
                    <th class="text-right py-3">Price</th>
                    <th class="text-center py-3">Quantity</th>
                    <th class="text-right py-3">Total</th>
                  </tr>
                </thead>
                <tbody class="table-body">

                </tbody>

              </table>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
              </div>
              <div class="d-flex">
                <div class="text-right mt-4 mr-5">

                </div>
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="cart-total text-large"><strong>$0</strong></div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="place-order" type="button" class="btn btn-primary">Place Order</button>
        </div>
      </div>
    </div>
  </div>
  <button id="cart-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Show Carts
  </button>
  <div id="creditcard-container">

  </div>
  <form id="payment-form">
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <button id="submit">Pay Now</button>
    <div id="error-message">
      <!-- Display error message to your customers here -->
    </div>
  </form>
</body>

</html>
