<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- JS -->
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"
    integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script defer src="/scripts/main_page.js"></script>
</head>

<body>
  <div class="container-xxl bg-white p-0">
    <%- include('partials/_spinner') %>
    <%- include('partials/_header', {user}) %>

      <section id="gtco-welcome" class="bg-white section-padding">
        <div class="container">
          <div class="section-content">
            <div class="row">
              <div id="restaurant-picture"
                class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2 mt-5 rounded"
                style="background-image: url(https://static6.businessinsider.com/image/5436f70569beddc5719cf92b-1200/25-girl-and-the-goat-chicago.jpg); height: 520px;">

              </div>
              <div class="col-sm-7 py-5 pl-md-0 pl-4">
                <div class="heading-section pl-lg-5 ml-md-5">
                  <span class="subheading">
                    About
                    <%= user %>
                  </span>
                  <h2>
                    Welcome to <%= restaurant[0].name %>
                  </h2>

                </div>
                <div class="pl-lg-5 ml-md-5">
                  <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would
                    have been rewritten a thousand times and everything that was left from its origin would be the word
                    "and" and the Little Blind Text should turn around and return to its own, safe country. A small
                    river
                    named Duden flows. </p>
                  <p> Address: <%= restaurant[0].address %>
                  </p>
                  <p> Phone: <%= restaurant[0].phone_number %>
                  </p>
                  <div class="special-dishes">
                    <h3 class="mt-2">Special Recipe</h3>
                    <div class="row mt-3">
                      <div class="col-4">
                        <a href="#" class="thumb-menu">
                          <img class="img-fluid img-cover rounded"
                            src="https://hips.hearstapps.com/hmg-prod/images/delish-190618-air-fryer-fried-chicken-361-landscape-pf-1561574618.png?crop=0.668xw:1.00xh;0.0867xw,0&resize=1200:*"
                            style="height:150px" />
                          <h6>Australian Organic Beef</h6>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#" class="thumb-menu">
                          <img class="img-fluid img-cover rounded"
                            src="https://i.pinimg.com/736x/a0/96/23/a0962332f9445b2779e138aca6eb312a--masala-spice-magic-box.jpg"
                            style="height:150px" />
                          <h6>Australian Organic Beef</h6>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#" class="thumb-menu">
                          <img class="img-fluid img-cover rounded"
                            src="https://assets.bonappetit.com/photos/5c619a0408be415aeb84b702/1:1/w_2560%2Cc_limit/Spice-Drawer-Chicken-Wings.jpg"
                            style="height:150px" />
                          <h6>Australian Organic Beef</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Menu Start -->
      <div class="container-xxl py-5 mt-2">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
          </div>
          <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                  <% for (let dish of restaurant) { %>
                    <div class="col-lg-6 mt-4">
                      <div class="d-flex align-items-center">
                        <img class="img-fluid rounded" src="<%= dish.url %>" alt=""
                          style="max-width: 80px; background-position: center center; background-size: cover;">
                        <div class="w-100 d-flex flex-column pl-4">

                          <div class="d-flex border-bottom pb-2 justify-content-between">
                            <div class="d-flex justify-content-center align-items-center">
                              <h5>
                                <%= dish.dish_name %>
                              </h5>
                              <h5 class="text-primary pl-2">$<%= dish.price %>
                              </h5>
                            </div>

                            <form class="form d-flex justify-content-center align-items-center">
                              <input data-id="<%= dish.id %>" data-name="<%= dish.dish_name %>"
                                data-price="<%= dish.price %>" type="number" name="quantity" style="width: 50px"
                                placeholder="0" min="0"
                                oninput='this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null'
                                value="0" />
                              <button type="submit" class="btn btn-outline-success ml-2" data-mdb-ripple-color="dark"
                                style="height: 37px; width:37px;" data-id="<%= dish.id %>">
                                <i class="fa-solid fa-plus"></i>
                              </button>
                            </form>
                          </div>
                          <div class="d-flex">
                            <small class="text-start">
                              <%= dish.description %>
                            </small>
                          </div>
                        </div>

                      </div>
                    </div>
                    <% } %>

                </div>
              </div>
            </div>
          </div>

          <div class='d-flex justify-content-center w-100 mt-5' style="position: relative;">
            <div id="cart-badge" class="p-2 bg-danger border border-light rounded-circle"
              style="height: 3px; width: 3px; position: relative; top: -9px; left: 142px; visibility: hidden;">
            </div>
            <button id="cart-btn" type="button" class="btn btn-primary " data-toggle="modal"
              data-target="#exampleModalCenter">
              Show Carts
            </button>

          </div>
        </div>
      </div>
      <!-- Menu End -->

      <%- include('partials/_footer') %>
      <%- include('partials/_btn_to_top') %>
  </div>

  <%- include('partials/_customer_order_modal') %>
  <%- include('partials/_credit_card_modal') %>

</body>

</html>
