<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/customorders.css" type="text/css" />

  <!-- JS -->
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"
    integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script defer src="/scripts/main_page.js"></script>
</head>

<body>
  <%- include('partials/_spinner') %>
    <%- include('partials/_header', {user}) %>
      <div class="container-xxl bg-white maincontainer p-0">
        <section id="gtco-welcome" class="mainsectionback">
          <%- include('partials/_toast') %>

            <!-- Restaurant details -->
            <div class="container">
              <div class="section-content">
                <div class="row">
                  <img id="restaurant-picture" src="/images/our-logo.png"
                    class="col-sm-5 img-bg mainimage d-flex shadow align-items-center justify-content-center justify-content-md-end img-2 mt-5 rounded"
                    style=" height: 520px; padding: 0px;" />
                  <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                      <span class="aboutus" style=" font-size: large">
                        About us...
                      </span>
                      <h2 class="welcome">
                        Welcome to <%= restaurant[0].name %>
                      </h2>

                    </div>
                    <div class="pl-lg-5 ml-md-5 " style=" font-size: large; padding-top: 31px;">
                      <p>We are GTA’s top spot and number one recommended when it comes to a more healthy alternative to
                        cooking. If you guessed air fryer… you’re right, everything on our menu is made with the love of
                        our favorite house appliance THE AIR FRYER! You get the same amazing-tasting meal with very
                        little oil used in our kitchen(we never lack that amazing crunch). Your meals are cooked at a
                        greater speed and fast meals are always guaranteed. </p>
                      <p> Address: <%= restaurant[0].address %>
                      </p>
                      <p> Phone: <%= restaurant[0].phone_number %>
                      </p>
                      <div class="special-dishes">
                        <h3 class="mt-2">Special Recipe</h3>
                        <div class="row mt-3 speacials">
                          <div class="col-4">
                            <a href="#" class="thumb-menu">
                              <img class="img-fluid img-cover salmon rounded"
                                src="https://insanelygoodrecipes.com/wp-content/uploads/2020/09/Baked-Salmon-Steak-with-Herbs-and-Lemons.jpg"
                                style="height:150px; width:150px;" />
                              <h6>Australian Organic Salmon</h6>
                            </a>
                          </div>
                          <div class="col-4">
                            <a href="#" class="thumb-menu">
                              <img class="img-fluid img-cover spiceblend rounded"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWN1gz1OjEpltIzca7Xi_qMtgwXImwzVQq9w&usqp=CAU"
                                style="height:150px; width:150px;" />
                              <h6>Rich Spice Blends</h6>
                            </a>
                          </div>
                          <div class="col-4">
                            <a href="#" class="thumb-menu">
                              <img class="img-fluid img-cover deals rounded"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcrh9psdkY2TsU5di8Ql8NfyI1h7Tu9X8SFCgIMd49KF8_oZGeT-Z6jkKsU1zrjcj1cwo&usqp=CAU"
                                style="height:150px; width:150px;" />
                              <h6>Amazing Deals & Discounts</h6>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- Restaurant details end -->

        <!-- Menu Start -->
        <div class="container-xxl py-5 mt-2">
          <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
              <h1 class="mb-5 popularItems">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
              <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                    <% for (let dish of restaurant) { %>
                      <div class="col-lg-6 mt-4">
                        <div class="d-flex align-items-center">
                          <img class="img-fluid rounded" src="<%= dish.url %>" alt=""
                            style="max-width: 80px; background-position: center center; background-size: cover;">
                          <div class="w-100 d-flex flex-column pl-4">

                            <div class="d-flex border-bottom pb-2 justify-content-between">
                              <div class="d-flex justify-content-center dishchoice align-items-center">
                                <h5>
                                  <%= dish.dish_name %>
                                </h5>
                                <h5 class="dishprice pl-2">$<%= dish.price %>
                                </h5>
                              </div>

                              <form class="form d-flex justify-content-center align-items-center">
                                <input data-id="<%= dish.id %>" data-name="<%= dish.dish_name %>"
                                  data-price="<%= dish.price %>" type="number" name="quantity" style="width: 50px"
                                  placeholder="0" min="0" max="50"
                                  oninput='this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null'
                                  value="0" />
                                <button type="submit" class="btn btn-outline-success addorder ml-2"
                                  data-mdb-ripple-color="dark" style="height: 37px; width:37px;"
                                  data-id="<%= dish.id %>">
                                  <i class="fa-solid fa-plus "></i>
                                </button>
                              </form>
                            </div>
                            <div class="d-flex">
                              <small class="description" style="color: #495057;">
                                <%= dish.description %>
                              </small>
                            </div>
                          </div>

                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class='d-flex justify-content-center w-100 mt-5' style="position: relative;">
              <div id="cart-badge" class="p-2 bg-danger border border-light rounded-circle"
                style="height: 3px; width: 3px; position: relative; top: -9px; left: 142px; visibility: hidden;">
              </div>
              <button id="cart-btn" type="button" class="btn btn-primary " data-toggle="modal"
                data-target="#exampleModalCenter">
                Show Carts
              </button>

            </div>
          </div>
        </div>
        <!-- Menu End -->

        <%- include('partials/_footer') %>
          <%- include('partials/_btn_to_top') %>
      </div>

      <%- include('partials/_customer_order_modal') %>
        <%- include('partials/_credit_card_modal') %>

</body>

</html>
