<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/restaurant_page.js"></script>
  </head>

  <body>
    <h1>RESTAURANT VIEWWWWWW!</h1>
    <% for (let order in cleanOrders) { %>
    <div>
      <%= order %> <%= cleanOrders[order]['customer_name'] %> <%=
      cleanOrders[order]['status'] %> <% for (let dish of
      cleanOrders[order].dishes) { %>
      <div>Dish: <%= dish[0] %>; Quantity: <%= dish[1] %></div>
      <% } %>
    </div>
    <% if (cleanOrders[order].status === 'pending') { %>
    <div id="prep_<%= order %>">
      <form class="form">
        <div class="form-group">
          <label for="duration">Duration:</label>
          <input
            data-id="<%= order %>"
            class="form-control"
            type="text"
            name="duration"
            style="width: 300px"
          />
        </div>
        <button type="submit" class="btn btn-success">
          Prep
        </button>
      </form>
    </div>
    <% } %> <% } %>
  </body>
</html>
